<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.interesting.modules.airports.mapper.XqAirportMapper">
    <select id="page" resultType="com.interesting.modules.airports.vo.XqAirportListVO">
        select id,
        bill_of_landing_date,
        bill_of_landing_no,
        factory_name,
        customer,
        port_of_destination,
        gnfy,
        gnfy_apply_time,
        gnhkje,
        gnsjfkr,
        qghd,
        gwfy,
        gwfy_apply_time,
        gwhkje,
        gwsjfkr,
        remark,
        finance_remark,
        airport_name,
        gnfy_audit,
        gnfy_audit_time,
        gwfy_audit,
        gwfy_audit_time,
        qghd2,
        gwfy2,
        gwfy_apply_time2,
        gwhkje2,
        gwsjfkr2,
        gwfy_audit2,
        gwfy_audit_time2
        from xq_airport
        where iz_delete=0
        <if test="dto != null">
            <if test="dto.billOfLandingNo != null and dto.billOfLandingNo != ''">
                AND bill_of_landing_no LIKE CONCAT('%', #{dto.billOfLandingNo}, '%')
            </if>
            <if test="dto.factoryIdList != null and dto.factoryIdList.size() > 0">
                <foreach collection="dto.factoryIdList" item="factoryId">
                    AND factory_name LIKE CONCAT('%', #{factoryId}, '%')
                </foreach>
            </if>
            <if test="dto.customerIdList != null and dto.customerIdList.size() > 0">
                <foreach collection="dto.customerIdList" item="customerId">
                    AND customer LIKE CONCAT('%', #{customerId}, '%')
                </foreach>
            </if>
            <if test="dto.portOfDestination != null and dto.portOfDestination != ''">
                AND port_of_destination LIKE CONCAT('%', #{dto.portOfDestination}, '%')
            </if>
            <if test="dto.gnfyApplyTimeStart != null and dto.gnfyApplyTimeStart != ''">
                AND gnfy_apply_time >= #{dto.gnfyApplyTimeStart}
            </if>

            <if test="dto.gnfyApplyTimeEnd != null and dto.gnfyApplyTimeEnd != ''">
                AND gnfy_apply_time &lt;= #{dto.gnfyApplyTimeEnd}
            </if>

            <if test="dto.gwfyApplyTimeStart != null and dto.gwfyApplyTimeStart != ''">
                AND gwfy_apply_time >= #{dto.gnfyApplyTimeStart}
            </if>

            <if test="dto.gwfyApplyTimeEnd != null and dto.gwfyApplyTimeEnd != ''">
                AND gwfy_apply_time &lt;= #{dto.gnfyApplyTimeEnd}
            </if>
        </if>
        order by create_time desc
    </select>


    <select id="sumAirPort" resultType="com.interesting.modules.airports.vo.SumAirPortVO">
        select
        SUM(gnfy) AS totalGnfyAmount,
        SUM(gnhkje) AS totalGnhkfyAmount,
        SUM(gwfy + gwfy2) AS totalGwfyAmount,
        SUM(gwhkje + gwhkje2) AS totalGwhkfyAmount
        from xq_airport
        where iz_delete=0
        <if test="dto != null">
            <if test="dto.billOfLandingNo != null and dto.billOfLandingNo != ''">
                AND bill_of_landing_no LIKE CONCAT('%', #{dto.billOfLandingNo}, '%')
            </if>
            <if test="dto.factoryIdList != null and dto.factoryIdList.size() > 0">
                <foreach collection="dto.factoryIdList" item="factoryId">
                    AND factory_name LIKE CONCAT('%', #{factoryId}, '%')
                </foreach>
            </if>
            <if test="dto.customerIdList != null and dto.customerIdList.size() > 0">
                <foreach collection="dto.customerIdList" item="customerId">
                    AND customer LIKE CONCAT('%', #{customerId}, '%')
                </foreach>
            </if>
            <if test="dto.portOfDestination != null and dto.portOfDestination != ''">
                AND port_of_destination LIKE CONCAT('%', #{dto.portOfDestination}, '%')
            </if>

            <if test="dto.gnfyApplyTimeStart != null and dto.gnfyApplyTimeStart != ''">
                AND gnfy_apply_time >= #{dto.gnfyApplyTimeStart}
            </if>

            <if test="dto.gnfyApplyTimeEnd != null and dto.gnfyApplyTimeEnd != ''">
                AND gnfy_apply_time &lt;= #{dto.gnfyApplyTimeEnd}
            </if>

            <if test="dto.gwfyApplyTimeStart != null and dto.gwfyApplyTimeStart != ''">
                AND gwfy_apply_time >= #{dto.gnfyApplyTimeStart}
            </if>

            <if test="dto.gwfyApplyTimeEnd != null and dto.gwfyApplyTimeEnd != ''">
                AND gwfy_apply_time &lt;= #{dto.gnfyApplyTimeEnd}
            </if>
        </if>
        order by create_time desc
    </select>

</mapper>
