<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.interesting.modules.accmaterial.mapper.XqAccessoryInfoMapper">


    <select id="getByCondition"
            resultType="com.interesting.modules.accmaterial.entity.XqAccessoryInfo">
        SELECT
        id,
        accessory_name,
        `size`,
        create_by,
        create_time,
        update_time,
        update_by,
        iz_delete,
        category_id,
        material_specification
        FROM
        xq_accessory_info
        WHERE
        iz_delete = 0
        <if test="accessoryName != null and accessoryName != ''">
            AND TRIM(accessory_name) = #{accessoryName}
        </if>
        <if test="size != null and size != ''">
            AND TRIM(`size`) = #{size}
        </if>
        <if test="msf != null and msf != ''">
            AND TRIM(material_specification) = #{msf}
        </if>
        LIMIT 1


    </select>

    <select id="queryAccessInfo"
            resultType="com.interesting.modules.accmaterial.vo.XqAccessoryInfoVO">
        SELECT
        xai.id,
         xai.accessory_name,
         ifnull(xai.`size`,'') as size,
         xai.create_by,
         xai.create_time,
         xai.update_time,
         xai.update_by,
         xai.iz_delete,
         xai.category_id,
        ifnull(xai.material_specification,'') as material_specification,
         ifnull(sum(xit.num),0) as skuNum
        FROM
        xq_accessory_info xai
        LEFT JOIN  xq_inventory xit on xit.item_id= xai.id and  xit.iz_delete=0

        WHERE
        xai.iz_delete = 0
      GROUP BY xai.id
      order by  xai.create_time desc

    </select>

    <select id="queryAccessInfoByPage"
            resultType="com.interesting.modules.accmaterial.vo.XqAccessoryInfoVO">
        SELECT
        xai.id,
         xai.accessory_name,
         ifnull(xai.`size`,'') as size,
         xai.create_by,
         xai.create_time,
         xai.update_time,
         xai.update_by,
         xai.iz_delete,
         xai.category_id,
        ifnull(xai.material_specification,'') as material_specification,
         ifnull(sum(xit.num),0) as skuNum
        FROM
        xq_accessory_info xai
        LEFT JOIN  xq_inventory xit on xit.item_id= xai.id and  xit.iz_delete=0

        WHERE
        xai.iz_delete = 0
      GROUP BY xai.id
      order by  xai.create_time desc

    </select>
</mapper>
