<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interesting.modules.freightInfo.mapper.XqFreightInfoMapper">


    <update id="updateImport">
       UPDATE `xq_freight_info`
      SET `export_declaration_num` = #{fret.exportDeclarationNum}
      WHERE `id` = #{fret.id};
    </update>
</mapper>