<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.interesting.modules.overseas.mapper.XqOverseasEnterDetailMapper">
    <delete id="removeBySourceId">
        DELETE FROM xq_overseas_enter_detail WHERE source_id = #{sourceId}
    </delete>
    <select id="listDetailsById" resultType="com.interesting.modules.overseas.vo.EnterStorageDetailItemVO">
        SELECT oed.id,
               oed.source_id,
               oed.warehouse_id,
                wh.name AS warehouse_name,
               oed.warehouse_lot,
               oed.product_id,
                prd.product_name,
               oed.packaging,
               oed.packaging_unit,
               un.name AS packagingUnitTxt,
               oed.enter_num,
               oed.pallet_num,
               oed.unit_price,
               oed.enter_money,
               oed.create_by,
               oed.create_time,
               oed.order_detail_id,
               oed.gross_weight_per_box,
               oed.gross_weight_total

        FROM xq_overseas_enter_detail oed
        LEFT JOIN xq_warehouse wh ON oed.warehouse_id = wh.id AND wh.iz_delete = 0
        LEFT JOIN xq_product_info prd ON oed.product_id = prd.id AND prd.iz_delete = 0
        LEFT JOIN xq_unit un ON un.id = oed.packaging_unit AND un.iz_delete = 0

        WHERE oed.iz_delete = 0
        AND oed.source_id = #{id}
    </select>
    <select id="pageSurplusOrder"
            resultType="com.interesting.modules.overseas.vo.SurplusOrderPageVO">
        SELECT
            ode.id,
            ode.product_id,
            prd.product_name,
            ode.packaging,
            ode.packaging_unit,
            un.name AS packagingUnitTxt,
            ode.total_boxes AS originNum,
            IFNULL(SUM(oed.enter_num),0) AS yetEnterNum,
            (ode.total_boxes - IFNULL(SUM(oed.enter_num),0)) AS notEnterNum,

        round(ode.price_per_lb * ode.weight_per_box,4) AS unitPrice,
        -- 待入库入库金额 = （原订单数量 - 已入库数量） * 单价

        round(IFNULL((ode.total_boxes - IFNULL(SUM(oed.enter_num),0)) * (ode.price_per_lb * ode.weight_per_box),0),4) AS notEnterMoney

        FROM xq_order_detail ode
        LEFT JOIN xq_order xo ON xo.id = ode.order_id AND xo.iz_delete = 0
        LEFT JOIN xq_overseas_enter_detail oed ON oed.order_detail_id = ode.id AND oed.iz_delete = 0
              AND oed.source_id IN (SELECT id FROM xq_overseas_enter_head WHERE iz_delete = 0 AND audit_status = '1')
        LEFT JOIN xq_product_info prd ON prd.id = ode.product_id AND prd.iz_delete = 0
        LEFT JOIN xq_unit un ON un.id = ode.packaging_unit AND un.iz_delete = 0
        WHERE ode.iz_delete = 0
        AND ode.order_id = #{dto.orderId}
        AND xo.order_type = 1

        <if test="dto.productName != null and dto.productName != '' ">
            AND prd.product_name LIKE CONCAT('%',#{dto.productName},'%')
        </if>

        GROUP BY ode.id
        HAVING notEnterNum > 0
    </select>
</mapper>
